<!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand text-uppercase fs-5" href="/dashboard/users"
          >simple<span class="fw-bold">dashboard</span></a
        >
        <ul class="navbar-nav nav-underline ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-uppercase" aria-current="page" href="/dashboard/games">games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" aria-current="page" href="/dashboard/users">users</a>
          </li>
        </ul>
      </div>
    </nav>