    <div
      class="container-form d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="text-uppercase fs-3 fw-bold mb-4">login</h1>
      <form
        method="post"
        action="/dashboard/login"
        autocomplete="off"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <div class="form-field mb-3">
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="username"
            autofocus
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="password"
            class="form-control text-capitalize"
            name="password"
            id="password"
            placeholder="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary border-0">Submit</button>
      </form>
    </div>