    <!-- Form Create New Games -->
    <div
      class="container-form d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="text-uppercase fs-3 fw-bold mb-4">create new games</h1>
      <form
        method="post"
        action="/dashboard/games/create"
        autocomplete="off"
        class="d-flex flex-column justify-content-center align-items-center"
      >
        <div class="form-field mb-3">
          <input
            type="text"
            class="form-control text-capitalize"
            name="name"
            id="name"
            placeholder="name"
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="text"
            class="form-control text-capitalize"
            name="genre"
            id="genre"
            placeholder="genre"
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="number"
            class="form-control text-capitalize"
            name="max_player"
            id="maxPlayer"
            placeholder="max player"
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="number"
            class="form-control text-capitalize"
            name="win_score"
            id="winScore"
            placeholder="win score"
            min="0"
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="number"
            class="form-control text-capitalize"
            name="lose_score"
            id="loseScore"
            placeholder="lose score"
            min="0"
            required
          />
        </div>
        <div class="form-field mb-3">
          <input
            type="number"
            class="form-control text-capitalize"
            name="draw_score"
            id="drawScore"
            placeholder="draw score"
            min="0"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary border-0">Submit</button>
      </form>
    </div>